@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap");
@-webkit-keyframes showMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes showMenu {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes showList {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes showList {
  from {
    -webkit-transform: scale(0);
            transform: scale(0);
  }
  to {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@-webkit-keyframes showAva {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

@keyframes showAva {
  from {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
  to {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

html a, body a {
  text-decoration: none;
  color: #181818;
  padding: 0;
  margin: 0;
}

html p, body p {
  color: #181818;
}

html li, body li {
  list-style: none;
}

.span-primary {
  padding: 14px 24px;
  -webkit-box-shadow: 0 0 0 48px #b61984 inset;
          box-shadow: 0 0 0 48px #b61984 inset;
  border-radius: 24px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.span-primary:hover {
  color: #b61984;
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
          box-shadow: 0 0 0 1px #b61984 inset;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.btn-primary {
  padding: 14px 55px;
  -webkit-box-shadow: 0 0 0 48px #b61984 inset;
          box-shadow: 0 0 0 48px #b61984 inset;
  border-radius: 55px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
  border: none;
}

.btn-primary:hover {
  color: #b61984;
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
          box-shadow: 0 0 0 1px #b61984 inset;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.cards {
  background-color: #ffffff;
  border-radius: 12px;
  overflow: hidden;
}

.cards .avatar {
  overflow: hidden;
}

.cards:hover {
  -webkit-box-shadow: 0 5px 10px 0 #8e8a8a;
          box-shadow: 0 5px 10px 0 #8e8a8a;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.cards:hover .scale-ava {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  -webkit-transition: all 1s;
  transition: all 1s;
}

.cards .scale-ava {
  -webkit-transition: all 1s;
  transition: all 1s;
}

.info {
  padding: 30px;
}

.info .country {
  color: #b61984;
  font-size: 11px;
  font-weight: 600;
}

.info .name {
  color: #181818;
  font-size: 24px;
  font-weight: 700;
  margin: 0;
  padding: 8px 0 15px 0;
}

.info .criteria {
  color: #181818;
  font-size: 14px;
  font-weight: 500;
  margin: 0;
}

.footer {
  padding: 120px 0;
  background-color: #aa017e;
}

.footer .container {
  padding-bottom: 60px;
}

.footer .col-lg-3 {
  z-index: 3;
}

.footer .col-lg-3:first-child {
  padding-left: 0;
}

.footer .col-lg-3:last-child {
  padding-right: 0;
}

.footer .footer-info h4 {
  color: #ffffff;
  font-size: 24px;
  font-weight: 700;
}

.footer .footer-info a,
.footer .footer-info div {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
}

.footer .footer-info a .ft-social-icon:hover,
.footer .footer-info div .ft-social-icon:hover {
  color: #181818;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer .footer-info a .ft-menu-item:hover,
.footer .footer-info div .ft-menu-item:hover {
  opacity: 0.7;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer .footer-info a i,
.footer .footer-info div i {
  margin-right: 10px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.footer .footer-info .input-ft {
  text-align: center;
  padding: 12px 12px 12px 36px;
  border-radius: 24px;
  border: 1px solid #b6258f;
  background: #aa017e;
  color: #181818;
  font-size: 13px;
  font-weight: 500;
  padding: 14px 12px 14px 12px;
  margin: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .footer-info .input-ft:focus-visible {
  border: 1px solid #ffffff;
  outline: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.footer .footer-info .input-ft::-webkit-input-placeholder {
  color: #ffffff;
}

.footer .footer-info .input-ft:-ms-input-placeholder {
  color: #ffffff;
}

.footer .footer-info .input-ft::-ms-input-placeholder {
  color: #ffffff;
}

.footer .footer-info .input-ft::placeholder {
  color: #ffffff;
}

.footer .footer-info .btn-ft {
  letter-spacing: 2px;
  padding: 14px 55px;
  -webkit-box-shadow: 0 0 0 48px #ffffff inset;
          box-shadow: 0 0 0 48px #ffffff inset;
  border-radius: 55px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  padding: 15px 12px 15px 12px;
  color: #181818;
  font-size: 13px;
  font-weight: 600;
  border: none;
}

.footer .footer-info .btn-ft:hover {
  color: #ffffff;
  -webkit-box-shadow: 0 0 0 1px #ffffff inset;
          box-shadow: 0 0 0 1px #ffffff inset;
  background-color: #aa017e;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.footer .footer-info .info-menu {
  padding: 12px 0;
  border-bottom: 1px solid #990171;
}

.footer .footer-bottom-wave {
  background-image: url("../../img/footer_background.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 35vw;
  bottom: -15px;
}

.container {
  padding: 0 30px;
  max-width: 1200px;
  margin: auto;
}

.mainHeader {
  position: -webkit-sticky;
  position: sticky;
  z-index: 1030;
  top: 0;
  left: 0;
  right: 0;
}

.sticky {
  display: none;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  padding: 10px;
  -webkit-box-shadow: 0 3px 6px 0 #0000000d;
          box-shadow: 0 3px 6px 0 #0000000d;
}

.bg-header-wave {
  top: 0;
}

.bg-header-wave img {
  width: 100%;
}

.headerInner {
  width: 100%;
}

.headerInner .navbar-collapse_ {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.headerInner .main-logo {
  width: 80px;
}

.headerInner .navbar-brand {
  padding: 0;
  margin: 0;
  visibility: hidden;
}

.headerInner .nav-item:hover .show-menu-home,
.headerInner .nav-item:hover .show-menu-about,
.headerInner .nav-item:hover .show-menu-shop,
.headerInner .nav-item:hover .show-menu-element {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}

.headerInner .nav-item:hover .show-menu-blog {
  display: block;
}

.headerInner .nav-item .col-4,
.headerInner .nav-item .col-12 {
  font-size: 12px;
  font-weight: 600;
}

.headerInner .nav-item .col-4 .bd-color-pri,
.headerInner .nav-item .col-12 .bd-color-pri {
  border-bottom: 2px solid !important;
  border-color: #b61984 !important;
}

.headerInner .nav-item .col-4 .txt-color-pri,
.headerInner .nav-item .col-12 .txt-color-pri {
  color: #b61984;
}

.headerInner .nav-item .col-4 p,
.headerInner .nav-item .col-12 p {
  padding-bottom: 12px;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.headerInner .nav-item .col-4 p:hover,
.headerInner .nav-item .col-12 p:hover {
  color: #b61984;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  transition: all 0.2s;
}

.headerInner .nav-item .dropdown-toggle::after {
  display: none;
}

.headerInner .nav-item .show-menu-blog {
  position: absolute;
  width: 220px;
  background-color: #ffffff;
  -webkit-box-shadow: 0 3px 6px 0 #0000000d;
          box-shadow: 0 3px 6px 0 #0000000d;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: showMenu 0.3s ease-in;
          animation: showMenu 0.3s ease-in;
  top: 55px;
  left: 128%;
}

.headerInner .nav-item .show-menu-blog::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #b61984;
  border-radius: 50%;
  -webkit-animation: showList 0.5s ease-in;
          animation: showList 0.5s ease-in;
  left: 7%;
  top: -1%;
}

.headerInner .nav-item .show-menu-blog::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: transparent;
  top: -10%;
  left: -6%;
}

.headerInner .nav-link {
  color: #181818;
  font-size: 13px;
  font-weight: 600;
}

.headerInner .nav-link:hover {
  color: #b61984;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.headerInner .show-menu-home {
  display: none !important;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0px 6px 3px #0000000d;
          box-shadow: 0 0px 6px 3px #0000000d;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: showMenu 0.5s ease-in;
          animation: showMenu 0.5s ease-in;
  width: 750px;
  left: 50%;
  top: 55px;
  transform: translateX(-50%);
}

.headerInner .show-menu-home::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #b61984;
  border-radius: 50%;
  -webkit-animation: showList 0.5s ease-in;
          animation: showList 0.5s ease-in;
  left: 46%;
  top: -5px;
}

.headerInner .show-menu-home::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: transparent;
  top: -10%;
  left: 42%;
}

.headerInner .show-menu-about {
  display: none !important;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0px 6px 3px #0000000d;
          box-shadow: 0 0px 6px 3px #0000000d;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: showMenu 0.5s ease-in;
          animation: showMenu 0.5s ease-in;
  width: 220px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  left: 0;
  top: 55px;
}

.headerInner .show-menu-about::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #b61984;
  border-radius: 50%;
  -webkit-animation: showList 0.5s ease-in;
          animation: showList 0.5s ease-in;
  left: 7%;
  top: -5px;
}

.headerInner .show-menu-about::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: transparent;
  top: -10%;
  left: -6%;
}

.headerInner .dropdown-menu {
  border-radius: 0;
  border: none;
  padding: 0;
}

.headerInner .dropdown-menu .dropdown-item {
  font-size: 12px;
  font-weight: 600;
  padding: 0 0 12px 0;
  margin: 0 0 16px 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.headerInner .dropdown-menu .dropdown-item:hover {
  color: #b61984;
  background-color: #ffffff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.headerInner .drop-before::before {
  content: "";
  position: absolute;
  width: 6px;
  height: 6px;
  background-color: #b61984;
  top: 15%;
  right: 10px;
  border-radius: 50%;
}

.headerInner .show-menu-shop {
  display: none !important;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0px 6px 3px #0000000d;
          box-shadow: 0 0px 6px 3px #0000000d;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: showMenu 0.5s ease-in;
          animation: showMenu 0.5s ease-in;
  width: 220px;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  right: 0;
  top: 55px;
}

.headerInner .show-menu-shop::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #b61984;
  border-radius: 50%;
  -webkit-animation: showList 0.5s ease-in;
          animation: showList 0.5s ease-in;
  right: 27%;
  top: -5px;
}

.headerInner .show-menu-shop::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: transparent;
  top: -15%;
  right: 12%;
}

.headerInner .show-menu-element {
  display: none !important;
  background-color: #ffffff;
  -webkit-box-shadow: 0 0px 6px 3px #0000000d;
          box-shadow: 0 0px 6px 3px #0000000d;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  -webkit-animation: showMenu 0.5s ease-in;
          animation: showMenu 0.5s ease-in;
  width: 750px;
  left: 0%;
  top: 55px;
  transform: translateX(-50%);
}

.headerInner .show-menu-element::after {
  content: "";
  position: absolute;
  width: 12px;
  height: 12px;
  background-color: #b61984;
  border-radius: 50%;
  -webkit-animation: showList 0.5s ease-in;
          animation: showList 0.5s ease-in;
  left: 53%;
  top: -5px;
}

.headerInner .show-menu-element::before {
  content: "";
  position: absolute;
  width: 80px;
  height: 40px;
  background-color: transparent;
  top: -10%;
  left: 48%;
}

.headerInner .navbar {
  padding: 0;
  z-index: 999;
}

.headerInner .container-fluid {
  padding: 0;
}

.headerInner .iconBar a {
  color: #181818;
  font-size: 14px;
  font-weight: 600;
  padding: 0 12px 0 0;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.headerInner .iconBar a:hover {
  color: #b61984;
  cursor: pointer;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  transition: all 0.2s;
}

.headerInner .iconBar a:last-child {
  padding-right: 0;
}

.headerInner .iconBar .phone-icon {
  color: #ffffff;
  font-size: 13px;
  font-weight: 600;
}

@media screen and (min-width: 992px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0;
    padding-left: 0;
    padding: 8px 55px 8px 0;
  }
}

/* ============ desktop view ============ */
@media all and (min-width: 992px) {
  .dropdown-menu li {
    position: relative;
  }
  .nav-item .submenu {
    display: none;
    position: absolute;
    left: 108%;
    top: -15px;
    -webkit-box-shadow: 0 3px 6px 0 #0000000d;
            box-shadow: 0 3px 6px 0 #0000000d;
    -webkit-animation: showMenu 0.5s ease-in;
            animation: showMenu 0.5s ease-in;
  }
  .nav-item .submenu::before {
    content: "";
    content: "";
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: transparent;
    right: 80%;
    top: 0;
  }
  .nav-item .submenu-left {
    right: 100%;
    left: auto;
  }
  .dropdown-menu > li:hover > .submenu {
    display: block;
  }
}

@media screen and (min-width: 1200px) {
  .headerInner .navbar-collapse_ {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .headerInner .navbar-brand {
    visibility: visible;
  }
  .sticky {
    display: block;
  }
  .container {
    padding: 0 0;
  }
}

@media (max-width: 991px) {
  .dropdown-menu .dropdown-menu {
    margin-left: 0.7rem;
    margin-right: 0.7rem;
    margin-bottom: 0.5rem;
  }
}

.wrapper .wrapper-cover-top {
  padding-bottom: 60px;
}

.wrapper .wrap-left-content {
  margin: 2vw 0;
}

.wrapper .wrap-left-content h5 {
  color: #b61984;
  font-size: 17px;
  font-weight: 600;
}

.wrapper .wrap-left-content h1 {
  color: #181818;
  font-size: 48px;
  font-weight: 700;
}

.wrapper .wrapper-wave-top-left {
  background-image: url("../../img/Violet_top_left_wave.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 16.25vw;
}

.wrapper .wrapper-cover-bottom {
  padding-top: 30px;
  background-color: #dcd1f3;
}

.wrapper .wrapper-cover-bottom .col-lg-3 {
  z-index: 3;
}

.wrapper .wrapper-wave-bottom-right {
  background-image: url("../../img/Wave_White_bottom_right_shape_01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 24.8vw;
}

@media screen and (min-width: 1200px) {
  .wrapper .wrap-left-content h1 {
    font-size: 58px;
  }
}

@media screen and (min-width: 992px) {
  .flex-lg-col {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .wrapper .wrap-left-content {
    margin: 13vw 0;
  }
}

@media screen and (min-width: 768px) {
  .flex-md-col {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.contact .contact-cover {
  padding-top: 60px;
}

.contact .contact-cell {
  max-width: 1000px;
  margin: auto;
  padding-top: 60px;
  padding-bottom: 30px;
}

.contact .contact-bottom-wave {
  background-image: url("../../img/accent_bottom_wave_01.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  position: absolute;
  bottom: -1px;
  height: 25vw;
}

.contact .col-lg-5 {
  -webkit-box-shadow: 0 3px 6px 0 #0000000d;
          box-shadow: 0 3px 6px 0 #0000000d;
  z-index: 3;
  background-color: #ffffff;
  height: 100%;
}

.contact .col-lg-7 {
  z-index: 3;
}

.contact .contact-form h2 {
  color: #181818;
  font-size: 37px;
  font-weight: 700;
}

.contact .contact-form input,
.contact .contact-form textarea,
.contact .contact-form select {
  padding: 12px 12px 12px 36px;
  border-radius: 24px;
  border: 1px solid #ececec;
  background: #ffffff;
  color: #181818;
  font-size: 11px;
  font-weight: 500;
}

.contact .contact-form input:focus-visible,
.contact .contact-form textarea:focus-visible,
.contact .contact-form select:focus-visible {
  -webkit-box-shadow: 0 3px 6px 0 #0000000d;
          box-shadow: 0 3px 6px 0 #0000000d;
  border: 1px solid #0000004d;
  outline: 0;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
}

.contact .contact-form i {
  color: #b61984;
  font-size: 13px;
  font-weight: 500;
  top: 14px;
  left: 24px;
}

.contact .contact-form .btn-form {
  padding: 36px 0;
}

.contact .contact-form .btn-form .btn-primary {
  width: 100%;
}

@media screen and (min-width: 768px) {
  .contact .contact-form .d-flex {
    -webkit-box-orient: horizontal !important;
    -webkit-box-direction: normal !important;
        -ms-flex-direction: row !important;
            flex-direction: row !important;
  }
  .contact .contact-form .btn-form .btn-primary {
    width: 150px;
  }
}

.slidebar {
  position: fixed;
  width: 100%;
  height: 48px;
  background: #ffffff;
  z-index: 1080;
  display: block;
  -webkit-box-shadow: 0 3px 6px 0 #0000000d;
          box-shadow: 0 3px 6px 0 #0000000d;
}

.slidebar .slide-dropdown-icon button {
  background: transparent;
  border: none;
}

.slidebar .slide-dropdown-icon button i {
  color: #b61984;
  font-size: 24px;
  font-weight: 13px;
  top: 12px;
}

.slidebar .slide-dropdown-icon img {
  height: 48px;
  left: 36px;
}

.slidebar .slide-dropdown-menu {
  width: 300px;
  height: 100vh;
  background: #ffffff;
  -webkit-box-shadow: 0 3px 6px 0 #0000000d;
          box-shadow: 0 3px 6px 0 #0000000d;
  top: 0;
  left: -600px;
}

.slidebar .slide-dropdown-menu .slide-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 0;
}

.slidebar .slide-dropdown-menu .slide-menu ul a {
  color: #181818;
  font-size: 13px;
  font-weight: 400;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.slidebar .slide-dropdown-menu .slide-menu ul a:hover {
  color: #b61984;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.slidebar .slide-dropdown-menu .slide-menu ul .menu-highlight {
  font-weight: 600;
}

.slidebar .slide-contact .span-primary {
  color: #ffffff;
  font-size: 13px;
  font-weight: 500;
}

.slidebar .slide-contact .span-primary:hover {
  color: #b61984;
  -webkit-box-shadow: 0 0 0 1px #b61984 inset;
          box-shadow: 0 0 0 1px #b61984 inset;
  background-color: #ffffff;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.slidebar .slide-contact .d-flex a:hover {
  color: #b61984;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

@media screen and (min-width: 1200px) {
  .slidebar {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */