//Text style
@mixin txtStyle($txtColor,$txtFs,$txtFw) {
    color: $txtColor;
    font-size: $txtFs;
    font-weight: $txtFw;
}
@mixin txtHover($hvColor) {
    color: $hvColor;
    cursor: pointer;
    @include strans;
}

//Padding & Margin
@mixin pd($pd1,$pd2,$pd3,$pd4) {
    padding : $pd1 $pd2 $pd3 $pd4
}
@mixin  mg($mg1,$mg2,$mg3,$mg4) {
    margin:  $mg1 $mg2 $mg3 $mg4;
}

//Button style
@mixin  btnPri($pd1,$pd2,$bg-color,$bd-radius) {
    padding: $pd1 $pd2;
    box-shadow: 0 0 0 48px $bg-color inset;
    border-radius: $bd-radius;
    transition: all 0.3s ease;
}
@mixin btnHover($txtColor,$hvColor,$bg-color) {
    color: $txtColor;
    box-shadow: 0 0 0 1px $hvColor inset;
    background-color: $bg-color;
    transition: all 0.3s ease;
}

//Dropdown Navbar
@mixin showMenuNavbar($bg-color) {
    display: none !important;
     background-color: $bg-color;
    box-shadow: 0 0px 6px 3px #0000000d;
    transform: translateX(-50%);
    animation: showMenu 0.5s ease-in;
}
@mixin showMenuAfter($fs-w, $fs-h,$bg-color) {
    content: "";
    position: absolute;
    width: $fs-0;
    height: $fs-0;
    background-color: $color-pri;
    border-radius: 50%;
    animation: showList 0.5s ease-in;
}
@mixin showMenuBefore {
    content: "";
    position: absolute;
    width: 80px;
    height: 40px;
    background-color: transparent;
}

//Transition
@mixin strans {
    transition: all 0.2s;
}
@mixin cards($color-bg,$fs-bd) {
    background-color: $color-bg;
    border-radius: $fs-bd;
    overflow: hidden;
}
//Replace Flex Boostrap
@mixin flexRow {
    flex-direction: row;
}
@mixin flexCol {
    flex-direction: column;
}
@mixin boxShadow {
    box-shadow: 0 3px 6px 0 #0000000d;
}