//Color 
$color-pri : #b61984;
$color-dark : #181818;
$color-white : #ffffff;
$color-violer : #dcd1f3;
$color-bgft : #aa017e;
$color-bdft : #990171;

//Font-size
$fs-0 : 12px;
$fs-1 : 13px;
$fs-2 : 15px;
$fs-3 : 24px;
$fs-4 : 37px;
$fs-5 : 58px;
$fs-6 : 17px;
$fs-7 : 23px;
$fs-8 : 14px;
$fs-9 : 11px;
$fs-10:48px;

//Font-weight
$fw-1 : 400;
$fw-2 : 600;
$fw-3 : 700;
$fw-4 : 500;

//Padding
$pd-1 : 12px;
$pd-2 : 15px;
$pd-3 : 36px;
$pd-4 : 42px;
$pd-5 : 120px;
$pd-6 : 55px;
$pd-7 : 16px;
$pd-8 : 8px;
$pd-9 : 10px;
$pd-10 : 30px;
$pd-11 : 60px;
$pd-12 : 32px;
$pd-cover : 60px;
$pd-btn-1 : 14px;
$pd-btn-2 : 24px;

//Margin
$mg-1 : 12px;
$mg-2 : 16px;
$mg-3 : 8px;
$mg-4 : -8px;