.footer {
  padding: 120px 0;
  background-color: $color-bgft;
  .container {
    padding-bottom: 60px;
  }
  .col-lg-3 {

    z-index: 3;
    &:first-child{
      padding-left: 0;
    }
    &:last-child{
      padding-right: 0;
    }
  }
  .footer-info {
    h4 {
      @include txtStyle($color-white, $fs-3, $fw-3);
    }
    a,
    div {
      @include txtStyle($color-white, $fs-1, $fw-4);
      .ft-social-icon:hover {
        color: $color-dark;
        @include strans;
      }
      .ft-menu-item:hover {
        opacity: 0.7;
        @include strans;
      }
      i {
        margin-right: 10px;
        @include strans;
      }
    }

    .input-ft {
      text-align: center;
      @include inputForm($color-dark, $fs-1, $fw-4, $color-bgft, #b6258f);
      padding: 14px 12px 14px 12px; //replace minxin
      margin: 0;
      transition: all 0.5s;
      &:focus-visible {
        @include inputFormFTFocus($color-white);
      }
      &::placeholder {
        color: $color-white;
      }
    }
    .btn-ft {
      letter-spacing: 2px;
      @include btnPri(14px, 55px, $color-white, 55px);
      padding: 15px 12px 15px 12px; //replace mixin
      @include txtStyle($color-dark, $fs-1, $fw-2);
      border: none;
      &:hover {
        @include btnHover($color-white, $color-white, $color-bgft);
      }
    }
    .info-menu {
      padding: 12px 0;
      border-bottom: 1px solid $color-bdft;
    }
  }
  .footer-bottom-wave {
    background-image: url("../../img/footer_background.jpg");
    @include bgImg;
    height: 35vw;
    bottom: -15px;
  }
}
